.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:  50px;
    background-color: black;
    text-align: center;
    color: white;
}

.header {
    margin-top:-16%;
    width: 100vw;
    height:  50px;
    background-color: black;
    text-align: center;
    color: white;
}

.wrapper 
{margin-top : 40px;
 border: 2px solid;
 border-radius: 2vh;
 padding :2vh
}

.wrap 

{margin-top : 40px;
 border: 2px solid;
 border-radius: 2vh;
 padding :2vh
}

.row
{margin-top: 200px !important;
border:2px solid;}